(
	{
		name = Root;
		children = ("Home","Person","editIndividual","Vendor","Invoice","Preferences");
	},
	{
		name = "Home";
		action = "session.navController.homeAction";
	},
	{
		name = Person;
		action = "session.navController.listPersonAction";
		children = ("createPerson","searchPerson");
		conditions = ("session.isAdministrator");
	},
	{
		name = editIndividual;
		action = "session.navController.editCurrentUser";
	},
	{
		name = createPerson;
		action = "session.navController.createPersonAction";
	},
	{
		name = searchPerson;
		action = "session.navController.queryPersonAction";
	},
	{
		name = Vendor;
		action = "session.navController.listVendorAction";
		children = ("createVendor","searchVendor");
		conditions = ("session.isAdministrator");
	},
	{
		name = createVendor;
		action = "session.navController.createVendorAction";
	},
	{
		name = searchVendor;
		action = "session.navController.queryVendorAction";
	},
	{
		name = Invoice;
		action = "session.navController.listInvoiceAction";
		children = ("createInvoice","searchVendor");
	},
	{
		name = createInvoice;
		action = "session.navController.createInvoiceAction";
	},
	{
		name = searchInvoice;
		action = "session.navController.queryInvoiceAction";
	},
	{
		name = Preferences;
		action = "session.navController.preferencesAction";
		conditions = ("session.isAdministrator");
	}

)